.contentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 460px;
  height: calc(100vh - 180px);
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bannerContainer {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.95) 0 100%),
    url(https://img.favr.town/app/m-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 460px;
  height: calc(100vh - 180px);
  display: flex;
  overflow-y: auto;
}
.root {
  padding: 30px;
  width: 100%;
}

.selfAlign {
  align-self: center;
}
.rewardsDivider {
  height: 4px;
  width: 100px;
  background-color: black;
  margin: auto;
}
.choiceCard {
  width: 100%;
  background-color: rgba(255, 255, 255, 1) !important;
  margin-bottom: 20px;
  border-radius: 10px;
}
.businessLogo {
  max-width: 100%;
  max-height: 200px;
  border-radius: 12px;
}
.carousel {
  padding: 1px;
}
.positionRelative {
  position: relative;
}
.positionFix {
  margin: 0;
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.surveyImgContainer {
  position: relative;
  border: 1px solid black;
  min-height: 40px;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 7px;
    width: 100%;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .imageAddIcon {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background-color: #b3ae96d6;
    &:hover {
      background-color: #c9c8c2d1;
    }
  }

  .imageDeleteIcon {
    position: absolute;
    bottom: 5px;
    left: 10px;
    background-color: #b3ae96d6;
    &:hover {
      background-color: #c9c8c2d1;
    }
  }
}
.choiceImage {
  width: auto;
}
.voteImage {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.surveyCard {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3) !important;
  margin-bottom: 8px;
}

@media screen and (max-width: 550px) {
  .bannerContainer {
    width: 100%;
    height: calc(100vh - 250px);
    background-size: contain;
  }
  .contentSection {
    width: 100%;
  }
}
