.reward {
  width: 40px;
}

.rewardWrapper {
  position: relative;
}

.buttonProgress {
  color: green;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    background-color: rgba(211, 211, 211, 0.3);
  }
}

.emptyProgress {
  color: rgba(211, 211, 211, 0.6);
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    background-color: rgba(211, 211, 211, 0.3);
  }
}

.buttonProgressDisabled {
  color: green;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
}

.rewardListWrapper {
  position: relative;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
