.contentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 460px;
  height: calc(100vh - 180px);
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bannerContainer {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.95) 0 100%),
    url(https://img.favr.town/app/m-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 460px;
  height: calc(100vh - 180px);
  display: flex;
  overflow-y: auto;
}
.root {
  padding: 30px;
  width: 100%;
}
.promo {
  min-width: 100px;
  max-width: 200px;
}
@media screen and (max-width: 550px) {
  .bannerContainer {
    width: 100%;
    height: calc(100vh - 250px);
    background-size: contain;
  }
  .contentSection {
    width: 100%;
  }
}
