.checkIcon {
  color: green;
  height: 40px !important;
  width: 40px !important;
  z-index: 999;
  margin-top: 80px;
  border: black solid 3px;
  border-radius: 36px;
  background: white;
  margin-right: -5px;
}
.clearIcon {
  color: #a30404;
  height: 40px !important;
  width: 40px !important;
  z-index: 999;
  margin-top: 80px;
  border: black solid 3px;
  border-radius: 36px;
  background: white;
  margin-right: -5px;
}

.priorityHighIcon {
  color: #a30404;
  height: 40px !important;
  width: 40px !important;
  z-index: 999;
  margin-top: 80px;
  border: black solid 3px;
  border-radius: 36px;
  background: white;
  margin-right: -5px;
}

.icon {
  width: 35px;
  height: 35px;
}

.addIcon {
  width: 44px;
  height: 35px;
}
